.header-container {
  display: flex;
  height: 80px;
}

.header-logo {
  display: flex;
  align-items: flex-end;
  margin-left: 40px;
}

.header-logo a {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: 5px;
}

.header-links {
  display: flex;
  align-items: flex-end;
  padding-right: 60px;
  margin-left: auto;
  /* width: 700px; */
}

.header-link {
  margin-left: 120px;
  text-decoration: none;
  letter-spacing: 3px;
  overflow: hidden;
  /* Must be same size */
  font-size: 16px; 
  height: 16px;
  line-height: 16px;
  
}

.header-link span {
  text-align: center;
  display: block;
}

.header-link, .header-link-text {
  transition: 0.2s;
}

.header-link-text {
  margin-top: 0;
}

.header-link:hover .header-link-text {
  margin-top: -1em;
}

#secondary-link-1 {
  color: #44EDE4;
}

#secondary-link-2 {
  color: #45CB85;
  /* FCF34B Yellow*/ 
}

#secondary-link-3 {
  color: #FC7753;
}

#name-dot {
  display: inline;
}

#name-extra {
  /* visibility: hidden; */
  display: none;
}

/* #name-last {

} */

.header-logo, #name-extra {
  transition: .3s;
}

.header-logo:hover #name-dot {
  display: none;
}

.header-logo:hover #name-extra {
  display: inline;
}