:root {
  background-color: #FCF34B;
  color: #222222;
  font-family: 'Roboto', sans serif;
  /* FAFFFD */
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
